@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter-VariableFont_slnt_wght.ttf");
    font-weight: 400, 700, 800;
    font-display: swap;
}

:root {
    --font-family: "Inter", sans-serif;

    --font-color: var(--dark-greyish-blue);
    --error-color: red;
    --background-color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--font-color);
    background-color: var(--background-color);
}

footer {
    margin-block-start: 1.5rem;
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    color: hsla(0, 0%, 0%, 0.5);
}
footer a {
    color: hsl(228, 45%, 44%);
    font-weight: 700;
}
