@import url("./imports/index.scss");

@mixin breakpoint {
    @media (min-width: 800px) {
        @content;
    }
}

body {
    @include breakpoint {
        display: grid;
        place-content: center;
        min-height: 100vh;
    }
}
